* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header, #main-wrapper, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-wrapper {
    border-bottom: 2px;
}

.calculator-container {
    height: 120px;
    width: 100px;
    background: black;

}

.row {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}

.row .cell {
    display: flex;
    width: 25%;
    height: 100%;
}

.row-six .cell:first-child {
    width: 50%;
}

button {
    width: 100%;
    height: 100%;  
    border: 1px solid black;
}

input {
    text-align: right;
    width: 100%;
    height: 100%;
}

.input-cell {
    height: 100%;
}

a {
    color: #000000;
    font-size: 10px;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
