:root {
    --gray: #575655;
    --gray-light: #656363;
    --gray-light-two: #81807f;
    --orange: #ff9f0b;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.orange {
    background: var(--orange);
}

.gray-light {
    background: var(--gray-light);
}

header, #main-wrapper, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-wrapper {
    border-bottom: 2px;
}

.calculator-container {
    height: 130px;
    width: 100px;
    background: var(--gray);
    border: 0.1px solid var(--gray);
}

.row {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}

.row .cell {
    display: flex;
    width: 25%;
    height: 100%;
}

.row-one {
    height: 30px;
    background: var(--gray);
}

.row-six .cell:first-child {
    width: 50%;
}
.row-two .cell:first-child {
    width: 50%;
}

input {
    text-align: right;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background: var(--gray);
}

input:focus {
    outline: 1px solid #00bcd4;

}

.input-cell {
    height: 100%;
}

button {
    width: 100%;
    height: 100%;  
    border: .1px solid var(--gray);
    font-size: 7px;
    color: white;
}

button:focus {
    outline: 1px solid #00bcd4;
    transform: scale(1.1);
}

.number-btn {
    background: var(--gray-light-two);
}

a {
    color: #000000;
    font-size: 10px;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
